@font-face {
  font-family: 'LexendDeca-Regular';
  src: url("./fonts/LexendDeca-Regular/LexendDeca-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/LexendDeca-Regular/LexendDeca-Regular.woff") format("woff"), url("./fonts/LexendDeca-Regular/LexendDeca-Regular.ttf") format("truetype"), url("./fonts/LexendDeca-Regular/LexendDeca-Regular.svg#LexendDeca-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  font-family: 'LexendDeca-Regular', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 60%;
  margin: 10px auto 0;
}

.container header {
  padding: 20px;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

.container header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: cadetblue;
  text-shadow: 0 0 5px;
}

.container main {
  margin: 15px auto;
  border: 1px solid cornsilk;
  padding: 15px 0;
  text-align: center;
}

.container main .search-input {
  text-align: center;
}

.container main .search-input label {
  font-size: 20px;
  text-transform: uppercase;
}

.container main .search-input .city-info {
  margin: 20px 0;
}

.container main .search-input .city-info input[type=text] {
  font-size: 20px;
  padding: 10px 10px 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #0080ff;
}

.container main .search-input #click-me {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #0044ffab;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container main .search-input #click-me svg {
  -webkit-transform: translate(2px, 4px);
  transform: translate(2px, 4px);
}

.container main .search-input #click-me svg path {
  fill: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container main .search-input #click-me:hover {
  background-color: #fff;
  border: 1px solid #0080ff;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #0080ff;
}

.container main .search-input #click-me:hover path {
  fill: #0080ff;
}

.container main #load {
  text-align: center;
  margin: 25px auto;
  display: none;
}

.container main #error_image {
  height: 200px;
  width: 200px;
  margin: 30px auto 10px;
  display: none;
}

.container main .weather-result {
  display: none;
}

.container main .weather-result .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 30px auto;
}

.container main .weather-result .last-data {
  margin-bottom: 0px;
}

.container footer {
  background-color: whitesmoke;
  bottom: 10px;
  border-radius: 5px;
}

.container footer p {
  padding: 5px 0;
  text-align: center;
}

.container footer p a {
  text-decoration: none;
}

.container footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 710px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 630px) {
  .container header h1 {
    font-size: 30px;
  }
  .container main .city-info #city {
    margin-bottom: 10px;
  }
  .container main .weather-result .data {
    display: initial;
  }
  .container main .weather-result .data div {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .container main .city-info input[type=text] {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */