
@font-face {
  font-family: 'LexendDeca-Regular';
  src: url('LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),  url('LexendDeca-Regular.woff') format('woff'), url('LexendDeca-Regular.ttf')  format('truetype'), url('LexendDeca-Regular.svg#LexendDeca-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
